@media screen and(max-width: 1220px) {
  .myContainer {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and(max-width: 1178px) {
  .top {
    &__fixed {
      right: 10px;
    }
  }

  .projects__carousel_info-stats {
    margin-top: 20px;
    justify-content: center;
    row-gap: 20px;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1089px) {
  .top {
    .navigation {

      &__list {
        margin-right: 50px;
      }
    }
  }

  .projects__carousel_info {
    padding-top: 10px;
  }

  .advantages {
    &__heading {
      justify-content: center;
      align-items: center;
    }

    &__main {
      flex-direction: column;

      &_list {
        display: flex;
        column-gap: 10px;
        text-align: center;
      }

      &_image {
        text-align: center;
      }
    }
  }

  .max {
    &__years {
      transform: scale(50%);
      top: 70px;
      left: -108px;
    }
  }

  .order {
    &__block {
      &_form {
        & input {
          background-color: transparent;
        }

        &-btn {
          &.btn {
            opacity: 85%;
          }
        }
      }
    }

    &__person {
      transform: scale(.65);
      right: 0;
      top: 109px;
      left: revert;
    }
  }

}

@media screen and (max-width: 989px) {
  .top {
    &__popup {
      transform: scale(75%);

      &_main {
        column-gap: 97px;
      }
    }
  }

  .guarantee__articles {
    padding-left: 0;
    padding-right: 0;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 60px;

    &_left {
      flex-direction: unset;
      column-gap: 20px;
      min-width: unset;

      &-top {
        margin-bottom: unset;
        max-width: 322px;
      }

      &-bottom {
        align-self: unset;
        max-width: 322px;
      }
    }

    &_right {
      flex-direction: unset;
      column-gap: 20px;
      min-width: unset;

      &-top {
        margin-bottom: unset;
        margin-top: unset;
        max-width: 322px;
      }

      &-bottom {
        align-self: unset;
        max-width: 322px;
      }
    }
  }

  .projects {
    padding-bottom: 50px;
  }

  .stats {
    column-gap: 10px;

    &__cards {
      display: flex;
      flex-direction: column;
      max-width: 250px;
      justify-content: center;
      align-items: center;

      &_img {
        transform: scale(50%);
      }

      &.one {
        max-width: 250px;
      }

      &.two {
        max-width: 250px;

        & .stats__cards_text {
          margin-left: 0;
        }
      }

      &.three {
        max-width: 250px;
      }
    }
  }

  .feedback {
    &__heading {
      text-align: center;

      &_black {
        margin-left: 0;
      }

      &_yellow {
        margin: 0;
      }
    }

    &__article {
      text-align: center;
      margin-left: 0;
    }
  }

  .order {
    &__person {
      right: -265px;
    }
  }
}

@media screen and (max-width: 921px) {
  .footer {
    &__top {
      justify-content: space-around;
      text-align: center;
      row-gap: 40px;

      &_links {
        align-items: center;
        row-gap: 40px;
      }

      &_office, &_work, &_contacts {
        row-gap: 40px;
      }
    }
  }
}

@media screen and (max-width: 876px) {
  .feedback, .order {
    margin-bottom: 50px;
    text-align: center;

    &__heading {
      flex-direction: column;
      row-gap: 20px;

      &_line {
        margin: 0;
      }

      &_black {
        margin: 0;
      }
    }

    &__article {
      margin-left: 0;
    }

    &__person {
      top: 138px;
    }
  }
}

@media screen and (max-width: 823px) {
  .top {
    &__fixed {
      top: 604px;
    }

    .navigation {
      flex-direction: column;
      align-items: center;
      row-gap: 20px;
      padding-left: 20px;
      padding-right: 20px;

    }

    .main {
      &__header {
        text-align: center;
      }
    }
  }

  .advantages {

    &__main_list {
      flex-wrap: wrap;
      justify-content: space-around;

      .advantages__wrapper {
        min-width: 300px;
        padding-bottom: 30px;

        .advantages__main_article {
          margin-left: 20px;

          &.one {
            max-width: 475px;
          }

          &.two {
            max-width: 475px;
          }

          &.three {
            max-width: 475px;
          }

        }
      }
    }
  }
}

@media screen and (max-width: 743px) {
  .stats {
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 60px;

    &__cards {
      &.one {
        order: 1;
      }

      &.two {
        order: 3;;

      }

      &.three {
        order: 2;
      }
    }
  }

  .advantages {
    &__heading {
      flex-direction: column;
      row-gap: 10px;
      margin-bottom: 50px;
      text-align: center;

      &_line {
        margin: 0;
      }

    }

    &__main_image {
      max-width: 470px;
      margin: auto;

      &-img {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 697px) {
  .order {
    &__person {
      top: 320px;
    }
  }
}

@media screen and (max-width: 685px) {
  .top {
    &__popup {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .max {
    padding: 26px 10px;
    justify-content: center;

    &__years {
      top: 215px;
    }

    &__info {
      &_article {
        margin-right: 0;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 651px) {
  .order {
    &__person {
      top: 372px;
    }
  }
}

@media screen and (max-width: 630px) {
  .top {
    &__fixed {
      top: 708px;
    }

    .navigation {
      &__list {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 20px;
        margin-right: 20px;
      }
    }
  }

  .guarantee__heading, .projects__heading {
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    text-align: center;

    &_yellow {
      margin: 0;
    }

    &_black {
      margin: 0;
    }
  }

  .projects {
    &__article {
      margin-left: 0;
      text-align: center;
    }

    &__carousel {
      flex-direction: column;
      row-gap: 20px;

      &_info {
        &-heading {
          text-align: center;
        }

        &-description {
          justify-content: space-between;
          column-gap: 20px;
        }
      }
    }
  }

  .feedback {
    &__videos {
      grid-template-columns: 300px;

      &_card {
        &-video {
          width: 300px;
          height: 173px;
        }
      }
    }
  }
}

@media screen and (max-width: 516px) {
  .top {
    &__popup {
      &_main {
        flex-direction: column;
        align-self: center;

        &-image {
          transform: rotate(60deg);
        }
      }
    }
  }

  .order {
    &__person {
      top: 388px;
    }
  }
}

@media screen and (max-width: 491px) {
  .order {
    &__person {
      top: 423px;
    }
  }
}

@media screen and (max-width: 480px) {
  .top {
    &__fixed {
      top: 400px;
    }

    .main {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 40px;

      &__header {
        font-size: 37px;
      }

      &__article {
        margin-top: 40px;
        margin-bottom: 40px;
        flex-direction: column;

        &_image {
          position: relative;
          left: 0;
        }

        &_text {
          margin-left: 0;
          text-align: center;
        }
      }

      &__tags {
        column-gap: 30px;
      }
    }
  }

  .advantages {
    &__main_image {
      max-width: 300px;
      margin: auto;

      &-img {
        width: 100%;
      }
    }
  }

}

@media screen and (max-width: 442px) {
  .order {
    &__person {
      top: 455px;
    }
  }
}

@media screen and(max-width: 425px) {
  .svg-inline--fa {
    height: 2em;
  }

  .top {
    &__fixed {
      top: 300px;
    }

    .navigation {
      flex-direction: row;
      justify-content: space-between;

      &__burger {
        display: revert;
      }

      &__list {
        display: none;
        flex-direction: column;
        flex-wrap: nowrap;
        row-gap: 50px;
        position: fixed;
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 999;

        &_item {
          text-align: center;

          &-close {
            position: absolute;
            top: 20px;
            left: 20px;
            fill: rgb(247, 146, 0);
            width: 30px;
            height: 30px;
          }

          &-link {
            color: rgb(247, 146, 0);
            font-size: 35px;
          }
        }
      }

      &__toggle {
        display: flex;
      }
    }

    .main {
      padding-bottom: 40px;

      &__article {
        margin-top: 0;
      }

      &__tags {
        flex-direction: column;
        margin-top: 30px;
        //margin-bottom: 30px;
      }
    }
  }

  .guarantee {
    padding-bottom: 50px;

    &__articles {
      &_left {
        flex-direction: column;
        row-gap: 30px;
        text-align: center;
      }

      &_right {
        flex-direction: column;
        row-gap: 30px;
        text-align: center;
      }
    }
  }

  .projects__carousel_info-heading {
    margin-bottom: 30px;
  }

  .max {
    margin-bottom: 230px;

    &__years {
      top: 251px;
      left: -19px;
    }
  }
}

@media screen and (max-width: 380px) {
  .max {
    &__years {
      top: 295px;
      left: -32px;
    }
  }
}

@media screen and (max-width: 375px) {
  .order {

    &__block {
      &_form {
        grid-template-columns: 300px;

        & input {
          width: 300px;
        }

        &-btn {
          padding-left: 50px;
          padding-right: 50px;

          &.btn {
            max-width: 300px;
          }
        }
      }
    }

    &__person {
      top: 491px;
    }
  }
}

@media screen and (max-width: 332px) {

  .main__btn {
    padding-left: 55px;
    padding-right: 55px;

  }

  .projects__carousel_info-description {
    column-gap: 5px;
  }

  .max {
    &__years {
      top: 320px;
      left: -60px;
    }
  }
}

@import "variables";