@media screen and(max-width: 1220px) {
  .myContainer {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and(max-width: 1178px) {
  .projects__carousel_info-stats {
    margin-top: 20px;
    justify-content: center;
    row-gap: 20px;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1089px) {
  .top {
    .navigation {

      &__list {
        margin-right: 50px;
      }
    }
  }

  .projects__carousel_info {
    padding-top: 10px;
  }

}

@media screen and (max-width: 989px) {

  .guarantee__articles {
    padding-left: 0;
    padding-right: 0;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 60px;

    &_left {
      flex-direction: unset;
      column-gap: 20px;
      min-width: unset;

      &-top {
        margin-bottom: unset;
        max-width: 322px;
      }

      &-bottom {
        align-self: unset;
        max-width: 322px;
      }
    }

    &_right {
      flex-direction: unset;
      column-gap: 20px;
      min-width: unset;

      &-top {
        margin-bottom: unset;
        margin-top: unset;
        max-width: 322px;
      }

      &-bottom {
        align-self: unset;
        max-width: 322px;
      }
    }
  }
}

@media screen and (max-width: 823px) {
  .top {
    .navigation {
      flex-direction: column;
      align-items: center;
      row-gap: 20px;
      padding-left: 20px;
      padding-right: 20px;

    }

    .main {
      &__header {
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 630px) {
  .top {
    .navigation {
      &__list {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 20px;
      }
    }
  }

  .guarantee__heading, .projects__heading {
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;

    &_yellow {
      text-align: center;
    }

    &_black {
      text-align: center;
    }
  }

  .projects {
    &__article {
      margin-left: 0;
      text-align: center;
    }

    &__carousel {
      flex-direction: column;
      row-gap: 20px;

      &_info {
        &-heading {
          text-align: center;
        }

        &-description {
          justify-content: space-between;
          column-gap: 20px;
        }
      }
    }
  }

}

@media screen and (max-width: 480px) {
  .top {
    .main {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 40px;

      &__header {
        font-size: 37px;
      }

      &__article {
        margin-top: 40px;
        margin-bottom: 40px;
        flex-direction: column;

        &_image {
          position: relative;
          left: 0;
        }

        &_text {
          margin-left: 0;
          text-align: center;
        }
      }

      &__tags {
        column-gap: 30px;
      }
    }
  }

}

@media screen and(max-width: 425px) {
  .svg-inline--fa {
    height: 2em;
  }

  .top {
    .navigation {
      flex-direction: row;
      justify-content: space-between;

      &__burger {
        display: revert;
      }

      &__list {
        display: none;
        flex-direction: column;
        flex-wrap: nowrap;
        row-gap: 50px;
        position: fixed;
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 999;

        &_item {
          text-align: center;

          &-close {
            position: absolute;
            top: 20px;
            left: 20px;
            fill: rgb(247, 146, 0);
            width: 30px;
            height: 30px;
          }

          &-link {
            color: rgb(247, 146, 0);
            font-size: 35px;
          }
        }
      }

      &__toggle {
        display: flex;
      }
    }

    .main {
      padding-bottom: 40px;

      &__article {
        margin-top: 0;
      }

      &__tags {
        flex-direction: column;
        margin-top: 30px;
        //margin-bottom: 30px;
      }
    }
  }

  .guarantee {
    padding-bottom: 50px;

    &__articles {
      &_left {
        flex-direction: column;
        row-gap: 30px;
        text-align: center;
      }

      &_right {
        flex-direction: column;
        row-gap: 30px;
        text-align: center;
      }
    }
  }

  .projects__carousel_info-heading {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 332px) {
  .projects__carousel_info-description {
    column-gap: 5px;
  }
}

@import "variables";