body{
  background-color: rgba(245, 162, 245, 0.93);
}

h1 {
  color: #a00a0a;
  background-color: rgba(158, 241, 242, 0.75);
  text-align: center;
}


@import "variables";
@import "adaptive";